html{
    font-size: 62.5%;
    background-color: #E8E8E8;
    font-family: 'Apercu Pro', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --color-negro: #222222;
    --color-gris: #E9E9E9;
    --color-rojo: #e63946;
}

body{
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    text-align: start;
    flex-wrap: wrap;
}

.main__text{
    text-align: start;
}

.main__text h1{
    font-size: 8rem;
    font-weight: bold;
    margin: 0;
}

.main__text h2{
    font-size: 6rem;
    font-weight: bold;
    margin: 0;
    border-top: 3px solid var(--color-negro);
}

.main__img{
    margin: 0rem 2rem;
}

.main__img img{
    width: 50rem;
    height: 50rem;
    border: 10px solid var(--color-negro);
    border-radius: 100%;
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.main__redes{
    width: 100%;
    margin: 4rem 0;
}

.main__redes_iconos{
    width: 7rem;
    height: 7rem;
    border: 3px solid white;
    border-radius: 100%;
    transition: 0.3s;
    margin: 0 1.5rem;
    background-color: white;
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.main__redes_iconos-contacto{
    border-color: #2196F3;
    animation: zoom 2.5s infinite;
    padding: 0;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.main__redes_iconos:hover{
    transform: scale(1.2);
}

/* ----------------------------------- NAV ---------------------------------- */

header{
    box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

nav{
    margin-top: 3rem;
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    background-color: var(--color-negro);
}

nav ul a{
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    color: var(--color-gris);
    transition: 0.2s;
    margin: 0 0.25rem;
}

nav ul a:hover{
    color: var(--color-rojo);
}


/* -------------------------------- QUIEN SOY ------------------------------- */

.sobremi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* --------------------------------- BACK --------------------------------- */

.back img{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 3px solid var(--color-negro);
    z-index: 999999;
    margin: 1.5rem;
    opacity: 40%;
    background-color: white;
    transition: 0.3s;
    padding: 1rem;
}

.back img:hover{
    opacity: 100%;
    transform: scale(1.2);
}

/* --------------------------------- SCROLL --------------------------------- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--color-negro);
}

/* ----------------------------------- BAR ---------------------------------- */
.bar__all{
    display: flex;
    flex-direction: row;
}

.bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    background-color: var(--color-negro);
    margin: 1rem 0 ;
}

.bar__progress{
    width: 0%;
    height: 100%;
    background-color: var(--color-rojo);
    animation: progress 3s ease 1s forwards;
}

.bar__percentage{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 0.8rem;
}

.bar__text{
    display: flex;
    flex-direction: row;
    width: 4rem;
    text-align: center;
    margin: 0 4rem 0 0;
}

.bar__text h3{
    margin: 0 0;
}

.bar__iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

@keyframes progress {
    from{
        width: 0%;
    }
    to{
        width: 50%;
    }
}

.main__text h3{
    font-size: 3rem;
}

.bar__icon{
    display: none;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 4.4rem;
}

/* ------------------------------ MEDIAQUERIES ------------------------------ */

@media screen and (max-width: 1391px) {

    main{
        flex-direction: column;
    }
    .main__text{
        text-align: center;
    }

    .main__text{
        text-align: center;
    }
    .main__text h1{
        font-size: 6rem;
    }
    .main__text h2{
        font-size: 4rem;
    }

    .main__redes{
        margin: 2rem 0;
    }

    .main__img{
        margin: 2rem ;
    }
    .main__img img{
        width: 30rem;
        height: 30rem;
    }

    .bar__icon{
        width: 3rem;
        height: 3rem;
        margin-right: 2.4rem;
    }

}

section{
    width: 100vw;
    height: 100vh;
}


@media screen and (max-width: 768px) {
    .main__text h1{
        font-size: 5rem;
    }
    .main__text h2{
        font-size: 3rem;
    }

    .bar__text{
        margin-right: 1rem;
    }

    .bar__text h3{
        font-size: 1.8rem;
    }

    .bar__icon{
        width: 2rem;
        height: 2rem;
        margin-right: 3rem;
    }
}

@media screen and (max-width: 550px) {

    .main__text h1{
        font-size: 3.5rem;
    }
    .main__text h2{
        font-size: 2rem;
    }
    nav ul a{
        font-size: 2rem;
    }

    .main__img img{
        width: 35rem;
        height: 35rem;
    }

    .main__redes_iconos{
        width: 5rem;
        height: 5rem;
    }

    .bar__icon{
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }

    .back img{
        width: 3rem;
        height: 3rem;
    }

}

@media screen and (max-width: 425px) {
    
    .main__text h1{
        font-size: 3rem;
    }
    .main__text h2{
        font-size: 1.5rem;
    }
    nav ul a{
        font-size: 1.8rem;
    }

    .main__img img{
        width: 30rem;
        height: 30rem;
    }

    .bar__icon{
        width: 1.9rem;
        height: 1.9rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 375px) {
    nav ul a{
        font-size: 1.5rem;
    }

    .main__redes_iconos{
        width: 4rem;
        height: 4rem;
    }


    .main__img{
        margin: 2rem 0rem;
    }

    .main__img img{
        width: 25rem;
        height: 25rem;
    }

    .bar__text h3{
        font-size: 1.5rem;
    }
    .bar__icon{
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.9rem;
    }
}

@media screen and (max-width: 375px) {
    .main__redes_iconos{
        width: 3.5rem;
        height: 3.5rem;
    }
}